<a href="https://colab.research.google.com/github/amishali/Data-analysis/blob/master/pythonwk3ip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***DATASET***

 

cells_geo_description.xlsx https://drive.google.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?pli=1

 
cells_geo.csv https://drive.google.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?pli=1

CDR_description.xlsx https://drive.google.com/file/d/1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD/view?pli=1


CDR 20120507 [http://bit.ly/TelecomDataset1]

CDR 20120508 [http://bit.ly/TelecomDataset2]

CDR 20120509 [http://bit.ly/TelecomDataset3]

# ***importing the libraries***

In [62]:
# Pands for data manipulation and analysis
import pandas as pd

# **loading the dataset**

In [8]:

df = pd.read_csv("cells_geo.csv" , header=1 ,names = ['City','Status','Locality','Geographical_Zone','Zone_Name','Longitude','Latitude','Region','Area','Cell_ID','Site_ID'])

df.head()

      City      Status   Locality  ... Area     Cell_ID     Site_ID
1   ADJAME  In Service    ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service    ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service  INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service  INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f
5  ASSINIE  In Service  INTERIEUR  ...  NaN  0b4f56438f  8a1e6ce31f

[5 rows x 11 columns]

In [78]:
#Import CDR 20120507
#Imported locally as it's noted to be faster than imported from direct URL.
#Skipped row 0 which has headers. Renamed columns for ease of understanding as some column names are in French


df1 = pd.read_csv("Telcom_dataset.csv" , header=1 ,names = ['Product','Value','Date_Time','Cell_On_Site','DW_A_Number','DW_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])

df1.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0     sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
1     sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
2   Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
3   Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
4    data      0   07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN

[5 rows x 10 columns]

In [79]:
#Import CDR 20120508
#Skipped row 0 which has headers. Renamed columns for ease of understanding as some column names are in French

df2 = pd.read_csv("Telcom_dataset2.csv" , header=1 ,names = ['Product','Value','Date_Time','Cell_On_Site','DW_A_Number','DW_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])

df2.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0   Voice      0   03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1     sms      0   04:06.0  ...     19e2e      #NAME?      #NAME?
2   Voice     37   04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
3     sms     25   04:58.0  ...     19e2e      #NAME?      #NAME?
4     sms      0   05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh

[5 rows x 10 columns]

In [80]:
#Import CDR 20120509
#Skipped row 0 which has headers. Renamed columns for ease of understanding as some column names are in French
df3 = pd.read_csv("Telcom_dataset3.csv" , header = 1,  names = ['Product','Value','Date_Time','Cell_On_Site','DW_A_Number','DW_B_Number','Country_A','Country_B','Cell_ID','Site_ID'])

df3.head()

  Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0     sms      0   01:31.0  ...     19e2e      #NAME?      #NAME?
1   Voice     10   02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
2     sms      0   03:04.0  ...     19e2e      #NAME?      #NAME?
3   Voice     22   03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
4   Voice     10   03:59.0  ...     19e2e      #NAME?      #NAME?

[5 rows x 10 columns]

# **understanding Dataset  information**

In [47]:
#find the datatype in each column
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3973 entries, 1 to 3973
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3973 non-null   object
 1   Status             3906 non-null   object
 2   Locality           3973 non-null   object
 3   Geographical_Zone  3973 non-null   object
 4   Zone_Name          3967 non-null   object
 5   Longitude          3973 non-null   float64
 6   Latitude           3973 non-null   float64
 7   Region             3973 non-null   object
 8   Area               3951 non-null   object
 9   Cell_ID            3973 non-null   object
 10  Site_ID            3973 non-null   object
dtypes: float64(2), object(9)
memory usage: 372.5+ KB
None
         Longitude     Latitude
count  3973.000000  3973.000000
mean     -4.877880     6.244970
std       1.300861     1.304289
min      -8.503889     0.000000
25%      -5.846139     5.338639
50%      -4.084500     5.475000
75%      -3.993444     6.872306
max       0.000000    10.481861

In [59]:
#Unique values in Cells_geo


#df.name.unique()
print ("Unique   Locality is ", df.Locality.nunique(), " out of " , df.Locality.count())
print ("Unique Area is ", df.Area.nunique(), " out of " , df.Area.count())
print ("Unique Geographical_Zone is ", df.Geographical_Zone.nunique(), " out of " , df.Geographical_Zone.count())
print ("Unique Region is  ", df.Region.nunique(), " out of " , df.Region.count())
print ("Unique Zone_Name is  ", df.Zone_Name.nunique(), " out of " , df.Zone_Name.count())
print ("Unique cities is  ", df.City.nunique(), " out of " , df.City.count())
print ("Unique Site_Id is ", df.Site_ID.nunique(), " out of " , df.Site_ID.count())
print ("Unique Cell_ID is ", df.Cell_ID.nunique(), " out of " , df.Cell_ID.count())

Unique   Locality is  2  out of  3973
Unique Area is  6  out of  3951
Unique Geographical_Zone is  15  out of  3973
Unique Region is   19  out of  3973
Unique Zone_Name is   33  out of  3967
Unique cities is   504  out of  3973
Unique Site_Id is  1029  out of  3973
Unique Cell_ID is  3915  out of  3973

In [12]:
#Null values
print(df.isnull().sum())

City                  0
Status               67
Locality              0
Geographical_Zone     0
Zone_Name             6
Longitude             0
Latitude              0
Region                0
Area                 22
Cell_ID               0
Site_ID               0
dtype: int64

In [76]:
#how many rows and column does it have
df.shape

(3973, 11)

# *** merging and cleaning dataset ***

In [81]:
#Combine the CDR datasets
df_final = pd.concat([df1,df2,df3], axis=0)
df_final
#df_cdr.info()

     Product  Value Date_Time  ... Country_B     Cell_ID     Site_ID
0        sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
1        sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
2      Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
3      Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
4       data      0   07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
...      ...    ...       ...  ...       ...         ...         ...
4995   Voice      0   01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4996   Voice     62   01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4997   Voice     32   01:43.0  ...     19e2e  a4731e780e  d68260ef50
4998   Voice     30   01:43.0  ...     19e2e  98ed726da2  b4130b54ab
4999   Voice     60   01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15000 rows x 10 columns]

In [97]:

#Let's check for null values in the merge  dataset

df_final.isnull().sum()

Product            0
Value              0
Date_Time          0
Cell_On_Site       0
DW_A_Number        0
DW_B_Number        0
Cell_ID            0
Site_ID         1997
dtype: int64

In [105]:
#Merge CDR and Cell Data on how and the state key 
df_final_cells = pd.merge(df_cdr,df, how='inner', on=['Site_ID'])
df_final_cells.head()

#df_cdr_cells.info()

  Product  Value Date_Time  ...             Region          Area   Cell_ID_y
0     sms      0   00:00.0  ...  VALLEE DU BANDAMA  CENTRE NORTH  24ccdda3d5
1     sms      0   00:00.0  ...  VALLEE DU BANDAMA  CENTRE NORTH  ebfc58af70
2     sms      0   00:00.0  ...  VALLEE DU BANDAMA  CENTRE NORTH  ba8ce6e4ef
3     sms      0   00:00.0  ...  VALLEE DU BANDAMA  CENTRE NORTH  c2545171dc
4     sms      0   00:00.0  ...  VALLEE DU BANDAMA  CENTRE NORTH  f15bd5483f

[5 rows x 20 columns]

In [112]:
#clean our data by droping some columns that we don't need for our anaylisis
#Drop Not required Columns
df_final_cells.drop(['Country_A', 'Country_B'], axis=1, inplace=True)
df_final_cells # print our data frame

      Product  Value Date_Time  ...             Region           Area   Cell_ID_y
0         sms      0   00:00.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  24ccdda3d5
1         sms      0   00:00.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ebfc58af70
2         sms      0   00:00.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  ba8ce6e4ef
3         sms      0   00:00.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  c2545171dc
4         sms      0   00:00.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  f15bd5483f
...       ...    ...       ...  ...                ...            ...         ...
51355   Voice     17   01:42.0  ...             LAGUNE  ABIDJAN NORTH  c179f33d5e
51356   Voice     17   01:42.0  ...             LAGUNE  ABIDJAN NORTH  0a3f751619
51357     sms      0   01:43.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  0427a26d34
51358     sms      0   01:43.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  7c72293cf2
51359     sms      0   01:43.0  ...  VALLEE DU BANDAMA   CENTRE NORTH  be18b5b981

[51360 rows x 18 columns]

In [117]:
#Change data types of date columns which are storing date values to date for ease of calculation
 

df_final_cells['Date_Time'] = pd.to_datetime(df_final_cells['Date_Time'])

In [ ]:
#Let's split the DATE_TIME to date and time

df_final_cells['Date'] = [d.date() for d in df_final_cells['DATE_TIME']
df_final_cells['Time'] = [d.time() for d in df_final_cells['DATE_TIME']


df_final_cells['Date'] = pd.to_datetime(df_final_cells['Date'])
 
df_final_cells['Time'] = pd.to_datetime(df_final_cells['Time'], format='%H:%M:%S:%f', errors = 'ignore')

# ***Data Analysis***

In [107]:
#which cities used the MTN products the most over the 3 days 

df_final_cells.groupby('City')['City'].count().sort_values(ascending = False)

City
YOPOUGON    8720
ABOBO       6266
COCODY      3814
ADJAME      2702
KOUMASSI    2333
            ...
LUEHOUAN       3
PAKAOUBO       3
MAHAPLEU       3
KOTOULA        2
DANANON        2
Name: City, Length: 400, dtype: int64

In [87]:
#which one where the most used city for the 3 days
#we can find by looking at the city with the most cell for 3 day 
df_final.groupby('Cell_ID').count().nlargest(5,'Product')

            Product  Value  Date_Time  ...  DW_A_Number  DW_B_Number  Site_ID
Cell_ID                                ...
ffa6759bb2     1996   1996       1996  ...         1996         1996        0
#NAME?           91     91         91  ...           91           91       91
03ee801971       75     75         75  ...           75           75       75
cc7ce19d6b       65     65         65  ...           65           65       65
d22224b2fa       43     43         43  ...           43           43       43

[5 rows x 7 columns]

In [ ]:
 # Most used product for the 3 Days
df_final.groupby('Product')['Value'].sum()

Product
Voice    309223
data      16542
sms       67955
Name: Value, dtype: int64

In [18]:
#we can also find which is the busiest cell so that we can upgrade technology by expanding it
#we can find by by calculating cell with the highest income mean 
df_final.groupby('Site_ID')['Value'].sum()

Site_ID
#NAME?        481
+38u2u/rfx    186
+854AcBQT2    154
+R5ccmtyJf      0
+ZaaZozy/+     60
             ...
feffc8c92b    297
ff1b78ec81    322
ffa6bdc032    499
ffc9f56819    177
fff5ac6e3f     28
Name: Value, Length: 1346, dtype: int64

In [113]:
#which region /area used the MTN product highly
df_final_cells.groupby(['Region','Area', 'Product'])['Product'].count().sort_values(ascending = False)

Region             Area           Product
LAGUNE             ABIDJAN NORTH  sms        15838
                                  Voice       8764
                   ABIDJAN SOUTH  sms         4908
                                  Voice       3753
BAS SASSANDRA      SOUTH WEST     sms         1286
HAUT SASSANDRA     NORTH WEST     sms         1281
LACS               CENTRE NORTH   sms         1264
                                  Voice       1220
BAS SASSANDRA      SOUTH WEST     Voice       1082
HAUT SASSANDRA     NORTH WEST     Voice       1026
SUD BANDAMA        SOUTH WEST     sms          843
VALLEE DU BANDAMA  CENTRE NORTH   Voice        828
                                  sms          747
SAVANE             CENTRE NORTH   Voice        642
SUD BANDAMA        SOUTH WEST     Voice        618
FROMAGER           SOUTH WEST     sms          555
18 MONTAGNES       NORTH WEST     sms          504
                                  Voice        453
SAVANE             CENTRE NORTH   sms          375
WORODOUGOU         NORTH WEST     Voice        372
FROMAGER           SOUTH WEST     Voice        361
AGNEBY             EAST           sms          324
MOYEN CAVALLY      NORTH WEST     Voice        306
AGNEBY             EAST           Voice        280
DENGUELE           NORTH WEST     Voice        251
ZANZAN             EAST           Voice        243
MOYEN CAVALLY      NORTH WEST     sms          225
WORODOUGOU         NORTH WEST     sms          219
MARAHOUE           NORTH WEST     Voice        210
NZI COMOE          CENTRE NORTH   Voice        189
MOYEN COMOE        EAST           Voice        186
WORODOUGOU         CENTRE NORTH   Voice        180
NZI COMOE          EAST           Voice        176
DENGUELE           NORTH WEST     sms          147
MOYEN COMOE        EAST           sms          135
MARAHOUE           CENTRE NORTH   Voice        129
SUD COMOE          ABIDJAN SOUTH  Voice        115
NZI COMOE          EAST           sms          108
                   CENTRE NORTH   sms           98
ZANZAN             EAST           sms           93
MARAHOUE           SOUTH WEST     sms           93
SUD COMOE          ABIDJAN SOUTH  sms           90
MARAHOUE           NORTH WEST     sms           87
                   CENTRE NORTH   sms           72
LAGUNE             SOUTH WEST     Voice         69
BAFING             NORTH WEST     Voice         60
SUD BANDAMA        CENTRE NORTH   Voice         54
LAGUNE             SOUTH WEST     sms           39
BAFING             NORTH WEST     sms           36
LAGUNE             CENTRE NORTH   sms           33
MARAHOUE           SOUTH WEST     Voice         30
WORODOUGOU         CENTRE NORTH   sms           24
LAGUNE             CENTRE NORTH   Voice         24
BAS SASSANDRA      NORTH WEST     sms           18
SUD BANDAMA        CENTRE NORTH   sms           18
BAS SASSANDRA      NORTH WEST     Voice          9
BAFING             CENTRE NORTH   Voice          6
HAUT SASSANDRA     SOUTH WEST     Voice          6
SUD COMOE          ABIDJAN NORTH  sms            3
Name: Product, dtype: int64

In [ ]:
#Which cities were the most used during business and home hours?

business_hours = df_final_cells[(df_final_cells ['Date_Time'].dt.time >= datetime.time(9)) & (df_final_cells['datetime'].dt.time <= datetime.time(17))]

business_hours.head()

In [75]:
#Busiest time of the day
#we can find this by max cell on site at the date time

df_final.groupby('Date_Time')['Cell_On_Site'].max()

Date_Time
00:00.0    _
00:01.0    _
00:02.0    _
00:03.0    _
00:04.0    _
          ..
59:54.0    0
59:55.0    1
59:56.0    1
59:57.0    0
59:58.0    4
Name: Cell_On_Site, Length: 1581, dtype: object

In [122]:
#which region used most product and which product was it 
df_final_cells .groupby(['City', 'Product'])['Product'].count().sort_values(ascending = False)

City        Product
YOPOUGON    sms        5679
ABOBO       sms        4300
YOPOUGON    Voice      3041
COCODY      sms        2105
ABOBO       Voice      1966
                       ...
GOULIA      Voice         3
GOMENEBERI  Voice         3
KODIOSSOU   Voice         3
DANANON     Voice         2
KOTOULA     Voice         2
Name: Product, Length: 601, dtype: int64

In [ ]:
business_hours.groupby('Product')['Product'].count().sort_values(ascending = False).head(10)